
@{
    ViewBag.Title = "_MenuBasic";
}


<li>@Html.ActionLink("Home", "Index", "Home")</li>
<li>@Html.ActionLink("Job List", "JobList", "Cars")</li>
<li>@Html.ActionLink("New Cars", "NewCars", "Home")</li>
<li>@Html.ActionLink("About", "About", "Home")</li>
<li>@Html.ActionLink("Contact", "Contact", "Home")</li>
