
@{
    ViewBag.Title = "_MenuDetailed";
}


<li>@Html.ActionLink("Home Page", "Index", "Home")</li>
<li>@Html.ActionLink("Job List", "Index", "Cars")</li>
<li>@Html.ActionLink("New Cars", "NewCars", "Home")</li>
<li>@Html.ActionLink("About Page", "About", "Home")</li>
<li>@Html.ActionLink("Contact Page", "Contact", "Home")</li>

