@model IEnumerable<CarlinMotorRepairs.Models.Car>

@{
    ViewBag.Title = "Administrator";
}

<h2>Administrator</h2>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm())
    {
    <p>
        Search Car Owner: @Html.TextBox("SearchString")
        <input type="submit" value="Filter" /><br /><br />
    </p>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarOwner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarMake)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReceivedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JobNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarOwner)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarMake)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobDesc)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReceivedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }

    </table>
